body {background:#fff; width:100%;}
.mail{width:826px; background:#F2F2F2; margin:0px auto; padding:20px;}
.top{width:826px; height:78px;}
.main{clear:both; width:862px; background:url(../images/invite/bg.jpg) repeat-y; height:480px; overflow:hidden;}
.left{float:left; width:320px; padding:25px 0px 0px 90px;}
.left ul{margin:0px;}
.left h3{font-size:14px; color:#212121;}
.left h4{font-size:14px; height:50px; line-height:50px; color:#666;}
.left p{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#4d4d4d;}
.left h1{margin-top:25px; font-size:24px; height:25px; line-height:25px; color:#000; font-family:"微软雅黑"; font-weight:bold;}
.left h2{margin: 10px 0px 25px 0px; font-size:24px; height:25px; line-height:25px; color:#666; font-family:"微软雅黑"; font-weight:bold;}
.left li{font-size:12px; height:24px; line-height:24px; padding-left:20px; background:url(../images/invite/icon1.jpg) no-repeat; color:#666;}
.left span{font-size:14px; font-weight:bold; height:30px; line-height:30px; color:#494949;}
.btn{ margin-top:40px; }
.btn a{width:165px; height:55px; overflow:hidden; display:block; cursor:pointer; background:url(../images/invite/btn.jpg) no-repeat;}
/*.btn a:hover{width:165px; height:49px; overflow:hidden; display:block; cursor:pointer; background:url(../images/invite/btn.jpg) 0px -49px no-repeat;}*/
.right{background:url(../images/invite/img_right.jpg) no-repeat; width:410px; height:479px; float:left;}
.bottom{background:url(../images/invite/bottom.jpg) no-repeat; width:826px; height:54px; clear:both;}
.link{ font-size:12px; text-indent:90px; height:30px; line-height:40px;}
.link a{color:#0169dc; text-decoration:none;}
.link a:hover{color:#f00; text-decoration:none;}